

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Discover how we can help you grow</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="mb-5"><strong>Winnovation is the US subsidiary of Bouygues Group, a worldwide diversified industrial group based in France and organised around 3 sectors of activity: construction, telecoms and medias. </br>Our mission is to find American startups and firms to collaborate with and to implement their solutions into the group.</strong></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>


        <section id="services">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Group Bouygues has 5 major subsidiaries</h2>
                <hr class="my-4">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3 lessbig-1">Bouygues Construction</h3>
                  <img class="logo_bouygues by-cn" src="assets/logo_by_cn.png" alt="Bouygues Construction">
                  <p class="text-muted mb-0 reduced-size">A global player in construction with operations in 80+ countries, we design, build and operate building, infrastructure and industrial projects. </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3 lessbig-1">Bouygues Immobilier</h3>
                  <img class="logo_bouygues by-immo" src="assets/logo_by_immo.png" alt="Bouygues Immobilier">
                  <p class="text-muted mb-0 reduced-size">An urban developer/operator, we develop residential, office, retail and sustainable neighbourhood projects to make urban living better.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3 lessbig-1">COLAS</h3>
                  <img class="logo_bouygues by-colas" src="assets/colas_logo.jpg" alt="COLAS">
                  <p class="text-muted mb-0 reduced-size">A world leader in transport infrastructure construction and maintenance, we promote solutions for responsible mobility.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3 lessbig-1">TF1</h3>
                  <img class="logo_bouygues by-tf" src="assets/logo_tf1.png" alt="TF1 Le Groupe">
                  <p class="text-muted mb-0 reduced-size">As the leading media group in France, we have a mission to inform and entertain. We offer our audiences a wide variety of channels and services for people of all ages.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3 lessbig-1">Bouygues Telecom</h3>
                  <img class="logo_bouygues by-tel" src="assets/logo-bouygues.png" alt="Bouygues Telecom">
                  <p class="text-muted mb-0 reduced-size">As a major player in the French electronic communications market, we are committed to delivering the best possible digital experience to everyone and to developing uses.</p>
                </div>
              </div>
              <!-- <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3">Bouygues SA</h3>
                  <img class="logo_bouygues by-sa" src="assets/logo_sa.png" alt="Bouygues S.A.">
                  <p class="text-muted mb-0 reduced-size">The head office manages and organizes the subsidiaries, innovation-oriented.</p>
                </div>
              </div> -->
            </div>
          </div>
        </section>


<!--
    <section class="container without-margin-all" id="about">

        <div class="row without-margin">
          <div class="col bg-primary div-background">
            <div class="col-lg-10 mx-auto text-center">
              <h2 class="section-heading text-white lessbig-1">Start-up, VC, Incubator or Accelerator?</br> We are what you need!</h2>

              <p class="text-faded mb-4 more-space">We can help you grow across Europe. Our market power in different industries can make you access the European market very fast. We do not take capital participations, we can become your first European client or help you develop your business thanks to our network and business connections. Just give us a call!</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="/startups">Let's see what we can do!</a>
            </div>
          </div>
          <div class="col background-blue div-background">
            <div class="col-lg-10 mx-auto text-center">
              <h2 class="section-heading text-white lessbig-1">A major player in one of our industries? </br> Let's share ideas and good practices!</h2>

              <p class="text-faded mb-4 more-space">We think that American and European actors can share information and good practices and/or achievements in order to perform better in our own markets. We do think that we can create a deep and true win/win relationship by helping each other to create, sell and proceed better.</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="/investment">Let's see what we can do!</a>
            </div>
          </div>
        </div>

    </section> -->

    <section class="container-fluid no-margin-2" id="about">
        <div class="row no-margin-2">
          <div class="col no-margin-3 bg-primary aligning-items">
            <h2 class="section-heading text-white lessbig-1 text-aligned-2">Start-up, VC, Incubator or Accelerator?</br> We are what you need!</h2>
            <p class="text-faded mb-4 more-space no-margin-4 text-aligned-2">We can help you grow across Europe. Our market power in different industries can make you access the European market very fast. We do not take capital participations, we can become your first European client or help you develop your business thanks to our network and business connections. Just give us a call!</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/startups">Let's see what we can do!</a>
          </div>
          <div class="col no-margin-3 background-blue aligning-items">
            <h2 class="section-heading text-white lessbig-1 text-aligned-2">A major player in one of our industries? </br> Let's share ideas and good practices!</h2>
            <p class="text-faded mb-4 more-space no-margin-4 text-aligned-2">We think that American and European actors can share information and good practices and/or achievements in order to perform better in our own markets. We do think that we can create a deep and true win/win relationship by helping each other to create, sell and proceed better.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/investment">Let's see what we can do!</a>
          </div>
        </div>
    </section>






    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Why collaborating with us?</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-euro-sign text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Our trading power in France</h3>
              <p class="text-muted mb-0">We are N°1 in media and construction industries, and the N°2 French mobile carrier.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-handshake text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Our strong partnerships</h3>
              <p class="text-muted mb-0">We work with the C.I.F.E. of Standford and the research labs of the M.I.T.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-building text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Our presence everywhere</h3>
              <p class="text-muted mb-0">We have offices in San Francisco and in Boston, and a strong network across the U.S.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-trophy text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">We make it. And we make it well!</h3>
              <p class="text-muted mb-0">Our commercial strength and our business-oriented mindset will make you the leader of tomorrow.</p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="without-margin-all" id="figures">
      <div class="container-12 background-blue">
        <div class="row margin-problem">

          <div class="col div-background margin-figures">
            <h2 class="text-white figures-adjustment"> $ 37 BILLIONS </br><em class="reduced-figures">IN SALES IN 2017</em></h2>
          </div>
          <div class="col div-background margin-figures">
            <h2 class="text-white figures-adjustment">90 COUNTRIES </br><em class="reduced-figures">WHERE BOUYGUES OPERATES</em></h2>
          </div>
          <div class="col  margin-figures">
            <h2 class="text-white figures-adjustment">115 500 + </br><em class="reduced-figures">EMPLOYEES</em></h2>
          </div>

        </div>
      </div>
    </section>



    <section class="p-0" id="portfolio">

      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">

            <% if !@partners_gg.first.nil? && @partners_gg.first.company_logo.attached? %>
              <div class="col-lg-4 col-sm-6 contouring">
                <div class="portfolio-box">
                  <%= image_tag @partners_gg.first.company_logo, class:"img-fluid", alt:"Winnovation - Bouygues US" %>
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        <%= @partners_gg.first.status %>
                      </div>
                      <div class="project-name">
                        <%= @partners_gg.first.company_name %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <% if !@partners_gg.second.nil? && @partners_gg.second.company_logo.attached? %>
              <div class="col-lg-4 col-sm-6 contouring">
                <div class="portfolio-box">
                  <%= image_tag @partners_gg.second.company_logo, class:"img-fluid", alt:"Winnovation - Bouygues US" %>
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        <%= @partners_gg.second.status %>
                      </div>
                      <div class="project-name">
                        <%= @partners_gg.second.company_name %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <% if !@partners_gg.third.nil? && @partners_gg.third.company_logo.attached? %>
              <div class="col-lg-4 col-sm-6 contouring">
                <div class="portfolio-box">
                  <%= image_tag @partners_gg.third.company_logo, class:"img-fluid", alt:"Winnovation - Bouygues US" %>
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        <%= @partners_gg.third.status %>
                      </div>
                      <div class="project-name">
                        <%= @partners_gg.third.company_name %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <% if !@partners_startups.first.nil? && @partners_startups.first.company_logo.attached? %>
              <div class="col-lg-4 col-sm-6 contouring">
                <div class="portfolio-box">
                  <%= image_tag @partners_startups.first.company_logo, class:"img-fluid", alt:"Winnovation - Bouygues US" %>
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        <%= @partners_startups.first.status %>
                      </div>
                      <div class="project-name">
                        <%= @partners_startups.first.company_name %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <% if !@partners_startups.second.nil? && @partners_startups.second.company_logo.attached? %>
              <div class="col-lg-4 col-sm-6 contouring">
                <div class="portfolio-box">
                  <%= image_tag @partners_startups.second.company_logo, class:"img-fluid", alt:"Winnovation - Bouygues US" %>
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        <%= @partners_startups.second.status %>
                      </div>
                      <div class="project-name">
                        <%= @partners_startups.second.company_name %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <% if !@partners_startups.third.nil? && @partners_startups.third.company_logo.attached? %>
              <div class="col-lg-4 col-sm-6 contouring">
                <div class="portfolio-box">
                  <%= image_tag @partners_startups.third.company_logo, class:"img-fluid", alt:"Winnovation - Bouygues US" %>
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        <%= @partners_startups.third.status %>
                      </div>
                      <div class="project-name">
                        <%= @partners_startups.third.company_name %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>











<!--
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/amazon.png" alt="Bouygues US Winnovation">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Project management and methods
                  </div>
                  <div class="project-name">
                    Amazon
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/mila.png" alt="Winnovation - Bouygues US">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Industrialization
                  </div>
                  <div class="project-name">
                    Mila
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/google.png" alt="Bouygues US Winnovation">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Future of the city
                  </div>
                  <div class="project-name">
                    Google
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/oto.png" alt="Winnovation - Bouygues US">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    In the process of signing
                  </div>
                  <div class="project-name">
                    Oto.ai
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/salesforce.png" alt="Bouygues US Winnovation">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Future of work offices
                  </div>
                  <div class="project-name">
                    Salesforce
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/dashbot.png" alt="Winnovation - Bouygues US">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Industrialization
                  </div>
                  <div class="project-name">
                    Dashbot
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </section>

    <section class="bg-dark text-white" id="team">
      <div class="container text-center">
        <h2 class="mb-4">The Team behind Winnovation</h2>
        <p class="mb-5">Our team is composed of great members that are dedicated to their area of expertise, which allows us to further understand what your current challenges are.</p>
        <div class="container">
          <div class="row">
            <% if User.second %>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <% if User.second.profile_picture.attached? %>
                <li class="article-title"><%= image_tag User.second.profile_picture, class: "profile-picture", alt: "Franck Moine" %></li>
                <% end %>
                <h3 class="mb-2 lessbig"><%= User.second.first_name %> <%= User.second.last_name %></h3>
                <h5 class="mb-2 lessbig-2"><%= User.second.title %></h3>
                <p class="text-muted mb-0 less-less-big"><%= User.second.description %></p>
              </div>
            </div>
            <% end %>
            <% if User.third %>
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <% if User.third.profile_picture.attached? %>
                  <li class="article-title"><%= image_tag User.third.profile_picture, class: "profile-picture", alt: "Clément Anthonioz-Blanc" %></li>
                  <% end %>
                  <h3 class="mb-2 lessbig"><%= User.third.first_name %> <%= User.third.last_name %></h3>
                  <h5 class="mb-2 lessbig-2"><%= User.third.title %></h3>
                  <p class="text-muted mb-0 less-less-big"><%= User.third.description %></p>
                </div>
              </div>
            <% end %>
            <% if User.fourth %>
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <% if User.fourth.profile_picture.attached? %>
                  <li class="article-title"><%= image_tag User.fourth.profile_picture, class: "profile-picture", alt: "Hedi Calabrese" %></li>
                  <% end %>
                  <h3 class="mb-2 lessbig"><%= User.fourth.first_name %> <%= User.fourth.last_name %></h3>
                  <h5 class="mb-2 lessbig-2"><%= User.fourth.title %></h3>
                  <p class="text-muted mb-0 less-less-big"><%= User.fourth.description %></p>
                </div>
              </div>
            <% end %>
            <% if User.fifth %>
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <% if User.fifth.profile_picture.attached? %>
                  <li class="article-title"><%= image_tag User.fifth.profile_picture, class: "profile-picture", alt: "Adrien Chaussinand" %></li>
                  <% end %>
                  <h3 class="mb-2 lessbig"><%= User.fifth.first_name %> <%= User.fifth.last_name %></h3>
                  <h5 class="mb-2 lessbig-2"><%= User.fifth.title %></h3>
                  <p class="text-muted mb-0 less-less-big"><%= User.fifth.description %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <!-- <a class="btn btn-light btn-xl sr-button" href="#contact">Contact us NOW!</a> -->

      </div>
    </section>
